
<script lang="ts">
  import { mount, map, refresh, Elements, setContext } from "../lib/suburb_layers"
  import { onDestroy, onMount } from "svelte";
  import { load } from "../lib/slider"

  let elements = new Elements()

  setContext(elements)
  refresh()

  onMount(() => {
    mount()
    load()
  });

  onDestroy(() => {
    map.remove()
  });
</script>

<div>
<div>
  <div bind:this={elements.errorMessage} />
  <button class="sidebar bg-sky-700 px-4 py-2 text-white hover:bg-sky-800 sm:px-8 sm:py-3" on:click={() => refresh()}>Reset</button>
  <label for="default-range" class="sidelabel block px-4 py-4 mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
  <input id="price-slide" type="range" min="0" max="2000" value="650" class="sideslide px-4 py-5 h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
  <label id="price-in-dollars-label" for="default-range" class="costlabel block px-4 py-4 mb-2 text-sm font-medium text-gray-900 dark:text-white">$650000</label>
</div>
<div class="map-wrap">
    <div class="map" bind:this={elements.mapContainer} />
</div>
</div>

<style>
.map {
  position: absolute;
  width: 100%;
  height: 100%;
}
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
.sidelabel {
  background-color: rgba(35, 55, 75, 0.5);
  color: #ffff;
  padding: 15px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 38px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
.sideslide {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 60px;
  margin: 12px;
  border-radius: 4px;
}
.costlabel {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 4;
  position: absolute;
  top: 56px;
  left: 60px;
  margin: 12px;
  border-radius: 4px;
}
</style>
